#mk2_menu_overlay {
  position: fixed;
  top: 0;
  left: 5px;
  margin-top: 8px !important;
  width: 150px;
  height: 45vh;
  background: rgb(241, 242, 243);
  box-shadow: 0px 4px 10px rgba(83, 83, 83, 0.8); 
  border-radius: 10px;
  padding: 20px;
  z-index: 999;
  animation: slideIn 0.5s ease-out;
  color: #272626;
  border: 3px solid rgba(181, 204, 238, 0.356);
}


@keyframes slideIn {
  from { transform: translateX(-100%); }
  to { transform: translateX(0); }
}

.mk2_menu_modal {
  display: flex;
  flex-direction: column;
}

.mk2_menu_header #mk2_menu_hf {
  font-size: 18px;
  font-weight: bold;
  color: #b6ccf7;
}

.mk2_menu_header #mk2_menu_title {
  font-size: 34px;
  font-weight: bold;
  color: #4da2ff;
  margin-left: 6px;
}

.mk2_menu_content ul {
  padding-left: 5px;
  margin-top: 2px;
    display: flex;
  flex-direction: column;
 
}

.mk2_menu_content li {
  list-style: none;
  font-size: 28px;
  margin: 6px 0;   
  cursor: pointer;
  transition: all 0.5s ease;
  padding-top: 5px;
  padding-bottom: 8px;
  padding-left: 15px;
  color: #13305a;
  font-weight: bold;
}

#mk2_menu1:hover,#mk2_menu2:hover,#mk2_menu3:hover,#mk2_menu4:hover,#mk2_menu5:hover,#mk2menu_tiei3:hover{
  color: #fafafa;
  background-color: #68a0dd;
  border-radius: 10px;
}

#mk2menu_tiei3{
  margin-left: -30px !important;
}

#mk2menu_tiei3:hover{
  padding-top: 5px;
  padding-bottom: 8px;
  padding-left: 15px;
}


@media (max-width:1000px)  {
  #mk2_menu_overlay {
  position: fixed;
  top: 0;
  left: 5px;
  margin-top: 40px;
  width: 140px;
  height: 35vh;
  background: rgb(241, 242, 243);
  box-shadow: 0px 4px 10px rgba(83, 83, 83, 0.8); 
  border-radius: 10px;
  padding: 20px;
  z-index: 999;
  animation: slideIn 0.5s ease-out;
  color: #272626;
  border: 3px solid rgba(181, 204, 238, 0.356);
}

@keyframes slideIn {
  from { transform: translateX(-100%); }
  to { transform: translateX(0); }
}

.mk2_menu_modal {
  display: flex;
  flex-direction: column;
}

.mk2_menu_header #mk2_menu_hf {
  font-size: 18px;
  font-weight: bold;
  color: #b6ccf7;
}

.mk2_menu_header #mk2_menu_title {
  font-size: 34px;
  font-weight: bold;
  color: #4da2ff;
  margin-left: 6px;
}

.mk2_menu_content ul {
  padding-left: 5px;
  margin-top: 2px;
    display: flex;
  flex-direction: column;
 
}

.mk2_menu_content li {
  list-style: none;
  font-size: 13px;
  margin: 6px 0;    
  cursor: pointer;
  transition: all 0.5s ease;
  padding-top: 5px;
  padding-bottom: 8px;
  padding-left: 15px;
  color: #13305a;
  font-weight: bold;
}

.mk2_menu_content li:hover {
  color: #fafafa;
  background-color: #68a0dd;
  border-radius: 10px;
}

}


@media(max-width:1600px) and (min-width:1001px){
  #mk2_menu_overlay {
  position: fixed;
  top: 0;
  left: 5px;
  margin-top: 8px !important;
  width: 150px;
  height: 45vh;
  background: rgb(241, 242, 243);
  box-shadow: 0px 4px 10px rgba(83, 83, 83, 0.8); 
  border-radius: 10px;
  padding: 20px;
  z-index: 999;
  animation: slideIn 0.5s ease-out;
  color: #272626;
  border: 3px solid rgba(181, 204, 238, 0.356);
}

@keyframes slideIn {
  from { transform: translateX(-100%); }
  to { transform: translateX(0); }
}

.mk2_menu_modal {
  display: flex;
  flex-direction: column;
}

.mk2_menu_header #mk2_menu_hf {
  font-size: 18px;
  font-weight: bold;
  color: #b6ccf7;
}

.mk2_menu_header #mk2_menu_title {
  font-size: 34px;
  font-weight: bold;
  color: #4da2ff;
  margin-left: 6px;
}

.mk2_menu_content ul {
  padding-left: 5px;
  margin-top: 2px;
    display: flex;
  flex-direction: column;
 
}

.mk2_menu_content li {
  list-style: none;
  font-size: 20px;
  margin: 6px 0;     
  cursor: pointer;
  transition: all 0.5s ease;
  padding-top: 5px;
  padding-bottom: 8px;
  padding-left: 15px;
  color: #13305a;
  font-weight: bold;
}

#mk2_menu1:hover,#mk2_menu2:hover,#mk2_menu3:hover,#mk2_menu4:hover,#mk2_menu5:hover,#mk2menu_tiei3:hover{
  color: #fafafa;
  background-color: #68a0dd;
  border-radius: 10px;
}

#mk2menu_tiei3{
  margin-left: -10px !important;
  margin-top: -10px;
}

#mk2menu_tiei3:hover{
  padding-top: 5px;
  padding-bottom: 8px;
  padding-left: 15px;
}

}